// SPDX-License-Identifier: GPL-2.0
/*
 * FriendlyARM's Exynos4412 based TINY4412 board device tree source
 *
 * Copyright (c) 2013 Alex Ling <kasimling@gmail.com>
 *
 * Device tree source file for FriendlyARM's TINY4412 board which is based on
 * Samsung's Exynos4412 SoC.
 */

/dts-v1/;
#include "exynos4412.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/usb4640/usb4640.h>
#include <dt-bindings/input/input.h>

/ {
	model = "FriendlyARM TINY4412 board based on Exynos4412";
	compatible = "friendlyarm,tiny4412", "samsung,exynos4412", "samsung,exynos4";

	chosen {
		stdout-path = &serial_0;
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x40000000 0x40000000>;
	};

	leds {
		compatible = "gpio-leds";

		led1 {
			label = "led1";
			gpios = <&gpm4 0 GPIO_ACTIVE_LOW>;
			default-state = "off";
			linux,default-trigger = "heartbeat";
		};

		led2 {
			label = "led2";
			gpios = <&gpm4 1 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led3 {
			label = "led3";
			gpios = <&gpm4 2 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led4 {
			label = "led4";
			gpios = <&gpm4 3 GPIO_ACTIVE_LOW>;
			default-state = "off";
			linux,default-trigger = "mmc0";
		};
	};

	fixed-rate-clocks {
		xxti {
			compatible = "samsung,clock-xxti";
			clock-frequency = <0>;
		};

		xusbxti {
			compatible = "samsung,clock-xusbxti";
			clock-frequency = <24000000>;
		};
	};

	usb-hub {
       		    compatible = "smsc,usb4640";
       		    reset-gpios = <&gpm2 4 GPIO_ACTIVE_LOW>;
       	            initial-mode = <USB4640_MODE_HUB>;
   	};
	
	gpio_keys {
                compatible = "gpio-keys";

                k1 {
                        label = "K1";
                        gpios = <&gpx3 2 GPIO_ACTIVE_LOW>;
                        linux,code = <KEY_1>;
                        wakeup-source;
                };

                k2 {
                        label = "K2";
                        gpios = <&gpx3 3 GPIO_ACTIVE_LOW>;
                        linux,code = <KEY_2>;
                        wakeup-source;
                };

                k3 {
                        label = "K3";
                        gpios = <&gpx3 4 GPIO_ACTIVE_LOW>;
                        linux,code = <KEY_3>;
                        wakeup-source;
                };

                k4 {
                        label = "K4";
                        gpios = <&gpx3 5 GPIO_ACTIVE_LOW>;
                        linux,code = <KEY_4>;
                        wakeup-source;
                };

        };

};

&rtc {
	status = "okay";
};

&sdhci_2 {
	bus-width = <4>;
	pinctrl-0 = <&sd2_clk &sd2_cmd &sd2_cd &sd2_bus4>;
	pinctrl-names = "default";
	//status = "okay";
	status = "disabled";
};

&serial_0 {
	status = "okay";
};
	
&serial_1 {
	status = "okay";
};

&serial_2 {
	status = "okay";
};

&serial_3 {
	status = "okay";
};

&exynos_usbphy {
    status = "okay";
};

&ehci {
    status = "okay";
    port@0 {
        status = "okay";
    };
    port@1 {
        status = "okay";
    };
    port@2 {
        status = "okay";
    };
};                         

&ohci {
    status = "okay";
    port@0 {
        status = "okay";
    };
};

&hsotg {
    status = "okay";
};  

&pwm {
    pinctrl-0 = <&pwm0_out &pwm1_out>;
    pinctrl-names = "default";
    samsung,pwm-outputs = <0>, <1>;
    status = "okay";
};
